/* =========================
   Global Styles
========================= */
* {
  box-sizing: border-box;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  background-color: #f6f6f6;
}

/* =========================
   App Container (Mobile)
========================= */
.screen {
  max-width: 420px;
  min-height: 100vh;
  margin: 0 auto;
  background: #ffffff;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.content{
    margin-top: 500px;
}

/* =========================
   Typography
========================= */
h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #000;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 14px;
  color: #7a7a7a;
  line-height: 1.5;
}

/* =========================
   Buttons
========================= */
.btn {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 12px;
}

.primary {
  background-color: #6c2bd9;
  color: #fff;
}

.secondary {
  background-color: #e6d9ff;
  color: #000;
}

.full {
  margin-top: auto;
}

/* =========================
   Welcome Page
========================= */
.actions {
  margin-top: auto;
}

/* =========================
   Form Styles
========================= */
.form {
  margin-top: 20px;
}

.form label {
  font-size: 13px;
  font-weight: 600;
  color: #6c2bd9;
}

.form input {
  width: 100%;
  padding: 12px;
  margin: 6px 0 16px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  font-size: 14px;
  outline: none;
}

.form input:focus {
  border-color: #6c2bd9;
}

/* =========================
   Radio Buttons
========================= */
.radio {
  display: flex;
  gap: 20px;
  margin: 10px 0 20px;
}

.radio label {
  font-size: 14px;
  color: #000;
}

.radio input {
  margin-right: 6px;
}

/* =========================
   Account Settings Page
========================= */
.header {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 16px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 20px 0;
}

.avatar {
  position: relative;
}

.avatar img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.camera {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #6c2bd9;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

.bio {
  border-top: 1px dashed #dcdcdc;
  padding-top: 16px;
  font-size: 14px;
  color: #7a7a7a;
}
.bio textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  resize: none;
  outline: none;
}